<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.CustomMapper">
	<cache eviction="LRU" type="com.crm.cache.MybatisRedisCache" />
	<resultMap type="com.crm.controller.admin.bo.DataStat" id="StatResultMap">
		<id column="name" property="name" jdbcType="VARCHAR" />
		<id column="count" property="count" jdbcType="INTEGER" />
	</resultMap>
	<resultMap type="com.crm.controller.admin.bo.CustomBO" id="CustomBO">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<id column="name" property="name" jdbcType="VARCHAR" />
		<id column="type_name" property="typeName" jdbcType="VARCHAR" />
		<id column="location_name" property="locationName" jdbcType="VARCHAR" />
		<id column="telephone" property="telephone" jdbcType="VARCHAR" />
		<id column="create_user" property="createUser" jdbcType="VARCHAR" />
		<id column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
		<id column="status" property="status" jdbcType="VARCHAR" />
		
		<id column="qq" property="qq" jdbcType="VARCHAR" />
		<id column="email" property="email" jdbcType="VARCHAR" />
		<id column="wechat" property="wechat" jdbcType="VARCHAR" />
		<id column="skype" property="skype" jdbcType="VARCHAR" />
		<id column="linkedin" property="linkedin" jdbcType="VARCHAR" />
		<id column="company" property="company" jdbcType="VARCHAR" />
		<id column="websize" property="websize" jdbcType="VARCHAR" />
		<id column="custom_address" property="customAddress" jdbcType="VARCHAR" />
		<id column="remark" property="remark" jdbcType="VARCHAR" />
		
	</resultMap>
	
	<sql id="Custom_Column_List">
		c.id,c.name,ct.name as type_name,cl.name as location_name,c.telephone,c.create_user,c.modify_time,c.status,c.qq,c.email,c.wechat,c.skype,c.linkedin,c.company,c.websize,c.custom_address,c.remark 
	</sql>
	<select id="getCustomStatList" resultMap="StatResultMap">
		select cl.name as name,count(*) as count from tbl_custom c left join tbl_custom_location cl on c.location_id = cl.id where c.status = 'Y' group by c.location_id order by count(*) desc 
	</select>
	
	<select id="getCustomListByIn" resultMap="CustomBO">
		select <include refid="Custom_Column_List" /> from tbl_custom c left join tbl_custom_location cl on c.location_id = cl.id left join tbl_custom_type ct on c.type_id = ct.id where c.status = 'Y' 
		and c.id in (#{ids,jdbcType=VARCHAR})
	</select>
	
	<select id="getCustomList" parameterType="com.crm.entity.Custom" resultMap="CustomBO">
		select <include refid="Custom_Column_List" /> from tbl_custom c left join tbl_custom_location cl on c.location_id = cl.id left join tbl_custom_type ct on c.type_id = ct.id where 1 = 1
		<if test="locationId != null and locationId != ''">
			and c.location_id = #{locationId,jdbcType=VARCHAR}
		</if>
		<if test="name != null and name != ''">
			and (c.name like CONCAT('%','${name}','%') or c.company like CONCAT('%','${name}','%'))
		</if>
		<if test="telephone != null and telephone != ''">
			and c.telephone = #{telephone,jdbcType=VARCHAR}
		</if>
		<if test="qq != null and qq !=''">
			and c.qq = #{qq,jdbcType=VARCHAR}
		</if>
		<if test="email != null and email != null">
			and c.email = #{email,jdbcType=VARCHAR}
		</if>
		<if test="customAddress != null and customAddress != ''">
			and c.custom_address = #{customAddress,jdbcType=VARCHAR}
		</if>
		<if test="wechat != null and wechat != ''">
			and c.wechat = #{wechat,jdbcType=VARCHAR}
		</if>
		<if test="skype != null and skype != ''">
			and c.skype = #{skype,jdbcType=VARCHAR}
		</if>
		<if test="linkedin != null and linkedin != ''">
			and c.linkedin = #{linkedin,jdbcType=VARCHAR}
		</if>
		<if test="websize != null and websize != ''">
			and c.websize = #{websize,jdbcType=VARCHAR}
		</if>
		<if test="position != null and position != ''">
			and c.position = #{position,jdbcType=VARCHAR}
		</if>
		<if test="deptId != null and deptId !=''">
			and c.dept_id = #{deptId,jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''">
			and c.status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="typeId != null and typeId !=''">
			and c.type_id = #{typeId,jdbcType=VARCHAR}
		</if>
		<if test="createUser != null and createUser != ''">
			and c.create_user = #{createUser,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null">
			and c.modify_time &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		<if test="endTime != null">
			and c.modify_time &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="queryCount" resultType="java.lang.Integer">
		select count(*) from tbl_custom where status = 'Y'
	</select>
	
	<select id="queryByEmail" resultType="com.crm.entity.Custom">
		select * from tbl_custom where email = #{email,jdbcType=VARCHAR} and status = 'Y'
	</select>
	
</mapper>
