<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.LogMapper">
	<cache eviction="LRU" type="com.crm.cache.MybatisRedisCache" />
	<resultMap type="com.crm.controller.admin.bo.LogBO" id="LogResultMap">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<id column="picture" property="picture" jdbcType="VARCHAR" />
		<id column="user_name" property="userName" jdbcType="VARCHAR" />
		<id column="create_time" property="createTime" jdbcType="VARCHAR" />
		<id column="information" property="information" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.crm.controller.admin.bo.UserBO" id="UserResultMap">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<id column="dept_name" property="deptName" jdbcType="VARCHAR" />
		<id column="picture" property="picture" jdbcType="VARCHAR" />
		<id column="login_name" property="loginName" jdbcType="VARCHAR" />
		<id column="user_name" property="userName" jdbcType="VARCHAR" />
		<id column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
		<id column="locked" property="locked" jdbcType="INTEGER" />
		<id column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getLogList" resultMap="LogResultMap" flushCache="true" useCache="false">
		select l.id,u.picture,u.user_name,l.create_time,l.information from sys_log l left join sys_user u on l.user_id = u.id where l.user_id = #{userId,jdbcType=VARCHAR} order by l.create_time desc limit 0,#{count,jdbcType=INTEGER}  
	</select>
	<select id="getLogListNoParam" resultMap="LogResultMap" flushCache="true" useCache="false">
		select l.id,u.picture,u.user_name,l.create_time,l.information from sys_log l left join sys_user u on l.user_id = u.id order by l.create_time desc 
	</select>
	
	<select id="queryCountByUserId" resultType="java.lang.Integer" flushCache="true" useCache="false">
		select count(*) from sys_log where user_id = #{userId,jdbcType=VARCHAR} and is_read = 'N'
	</select>
	
	<select id="getUserListByCustomId" resultMap="UserResultMap" flushCache="true" useCache="false">
		select u.id,d.name as dept_name,u.login_name,u.user_name,u.picture,u.modify_time,u.status,u.locked from sys_log l 
		left join sys_user u on l.user_id = u.id 
		left join sys_dept d on u.dept_id = d.id
		where custom_id = #{customId,jdbcType=VARCHAR} group by l.user_id order by max(l.create_time) desc limit 0,10
	</select>
	<select id="getUserListByProjectId" resultMap="UserResultMap" flushCache="true" useCache="false">
		select u.id,d.name as dept_name,u.login_name,u.user_name,u.picture,u.modify_time,u.status,u.locked from sys_log l 
		left join sys_user u on l.user_id = u.id 
		left join sys_dept d on u.dept_id = d.id
		where project_id = #{projectId,jdbcType=VARCHAR} group by l.user_id order by max(l.create_time) desc limit 0,10
	</select>
	
	<update id="updateLogByUserIdAndIsRead" >
		update sys_log set is_read = #{isRead,jdbcType=VARCHAR} where user_id = #{userId,jdbcType=VARCHAR}
	</update>
	
</mapper>
