<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.UserPermissionMapper">

	<cache eviction="LRU" type="com.crm.cache.RedisCache" /> 
	
	<resultMap type="com.crm.entity.UserPermission" id="BaseResultMap">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<id column="permission_id" property="permissionId" jdbcType="VARCHAR" />
	</resultMap>
	
	<delete id="deletePermissionByUserId"  >
		delete from sys_user_permission where user_id = #{userId,jdbcType=VARCHAR} 
	</delete>
	
</mapper>
